/* ../assets/css/LoginPage.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url() center/cover; /* Adjust the path accordingly */
    height: 100vh;
    color: #80f711;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  body
  {
background-color: #0d3ec4;

  }
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency for better visibility */
  }
  
  .form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
  }
  
  p {
    margin-top: 20px;
    font-size: 16px;
  }
  
  p a {
    color: #4ca1fc;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  